# Directories
.vs/
Bin/
Bin-Intermediates/

# Files
*.user

# Binaries
**/Bin/
!Vendor/Bin/Premake/
Bin-Intermediates/

# Vinyl files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
/Sandbox/VinylProfile-Startup.json
/Sandbox/VinylProfile-Shutdown.json
/Sandbox/VinylProfile-Runtime.json
