[submodule "Vinyl/Vendor/SpdLog"]
	path = Vinyl/Vendor/SpdLog
	url = https://github.com/gabime/spdlog
[submodule "Vinyl/Vendor/GLFW"]
	path = Vinyl/Vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Vinyl/Vendor/imgui"]
	path = Vinyl/Vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Vinyl/Vendor/glm"]
	path = Vinyl/Vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Vinyl/Vendor/yaml-cpp"]
	path = Vinyl/Vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "Vinyl/Vender/ImGuizmo"]
	path = Vinyl/Vender/ImGuizmo
	url = https://github.com/TheCherno/ImGuizmo
[submodule "Vinyl/Vendor/ImGuizmo"]
	path = Vinyl/Vendor/ImGuizmo
	url = https://github.com/TheCherno/ImGuizmo
